<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/css/addDeck.css" />
    <script type="text/javascript" src="/static/js/flashMessage.js"></script>
    <title>Add Deck</title>
</head>
<body>

    <div class="topnav">
		<a href="/dashboard">Dashboard</a>
		<a href="/logout">Logout</a>
	</div>

    <h1>Add a deck</h1>

    {% include 'flashMessage.html' %}

    <form action="/deck/add" method="post">
        <div class="container">
            <label for="deckname"><b>Deck Name: </b></label>
            <p style="font-size:12px;">(Deck name must be unique and can't be edited later.)</p>
            <br />
            <input type="text" placeholder="Enter deck name" name="deckname" required>
            <br />
            <br />
            <label for="deckdesc"><b>Deck Description: </b></label>
            <br />
            <input type="text" placeholder="Enter deck description" name="deckdesc" required>
            <br />
            <br />
            <br />
            <button type="submit" class="submit_button">Add Deck</button>
            <br />
            <button type="button" class="cancelbtn" onclick="location.href='/dashboard'" >Cancel</button>
        </div>
    </form>
    </div>
</body>
</html>