<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <script type="text/javascript" src="/static/js/flashMessage.js"></script>
    <title>Home</title>
</head>
<body style="background-image: url('/static/img/home_background.png');">

    <div class="topnav">
		<a href="/login">Login</a>
		<a href="/signup">Sign Up</a>
	</div>

    {% include 'flashMessage.html' %}

</body>
</html>